version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      - BATCH_SIZE=40
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend